<div class="container">
  <h1>
    Servers
    <% if signed_in? %>
      <%= link_to new_society_server_path, class: 'btn btn-success' do %>
        <%= icon('fas', 'plus-square') %>
        New Server
      <% end %>
    <% end %>
  </h1>
  <p>
    Here at SLUGSoc, we're privileged to be able to run our own game servers. Using the details below, you can join us in a variety of games! Don't forget to check out the relevant Discord channels if you'd like others to join you.
  </p>
  <p>
    You can see some details for our Source game servers, including which games are running. You might need some mods installed to join some of them. We're looking forward to seeing you there!
  </p>

  <%= render @servers %>

</div>
